.container-fluid > div {
    overflow: hidden;
}

#lesson-container {
    height: 100px;
}

#status-container {
    height: 80px;
}

#exercise-container {
    margin-bottom: 50px;
}

.options {
    font-size: 18px;
}

.margin-bottom-20 {
    margin-bottom: 2.0em;
}

/* Pinyin tooltip */
span.chinese-word {
    display: inline-block;
}

span.chinese-word span {
    display: block;
    text-align: center;
}

#exercise-container {
    font-family: Lato, sans-serif;
    font-size: 1.5em;
    text-anchor: middle;
    fill: black;
    word-wrap: break-word;
}