.container-fluid > div {
    overflow: hidden;
}

#lesson-container {
    height: 100px;
}

#status-container {
    height: 80px;
}

#exercise-container {
    height: 300px;
}

.options {
    font-size: 18px;
}


.margin-bottom-20 {
    margin-bottom: 2.0em;
}