.container-fluid > div {
    overflow: hidden;
}

#lesson-container {
    height: 100px;
}

#status-container {
    height: 80px;
}

#exercise-container {
    height: 300px;
}

.options {
    font-size: 18px;
}

.margin-bottom-20 {
    margin-bottom: 2.0em;
}

/* Pinyin tooltip */
span.chinese-word {
    outline: none;
}

span.chinese-word:hover {
    font-weight: bold;
}

span.chinese-word strong {
    line-height: 30px;
}

span.chinese-word:hover {
    text-decoration: none;
}

span.chinese-word span {
    z-index: 30;
    display: none;
    padding: 30px 30px;
    margin-top: -30px;
    margin-left: 28px;
    width: 300px;
    line-height: 16px;
}

span.chinese-word:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}

span.chinese-word span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}