{% load staticfiles %}
<script type="text/javascript" src="{% static "lessons/js/modify_lesson.js" %}"></script>

<div>Lesson: {{ lesson.topic }}</div>
Add exercise - Polish sentence:
<form id="adding_exercise" action="{% url 'lessons:add_exercise_sentence_pl' lesson.id %}" method="post">
    {% csrf_token %}
    <div>New sentence:</div>
    <input type="text" id="sentence_pl" name="sentence_pl"/>
    <div>Translations:</div>
    <input type="text" id="translations_zh" name="translations_zh"/>
    <div>Number:</div>
    <input type="number" id="number" name="number"/>
</form>
<button id="save">Save</button>