{% load i18n %}
          <!--<form method="post" action=".">{% csrf_token %}-->
    <!--<div style="text-align:left";>{{ form.as_p }}</div>-->
    <!--<input type="hidden" name="next" value="/" />-->
    <!--<input type="submit" value="Logowanie"/>    <input type="reset" value="Wartości domyślne"/>-->
  <!--</form>-->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Stylesheets -->
  <link href="{{STATIC_URL}}style/bootstrap.css" rel="stylesheet">
  <link rel="{{STATIC_URL}}stylesheet" href="style/font-awesome.css">
  <link href="{{STATIC_URL}}style/style.css" rel="stylesheet">


  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon/favicon.png">
</head>

<body>

<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->
              <div class="widget-head">
                <i class="icon-lock"></i>{% trans "Logging into ChineseTool application" %}
              </div>

              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                  <form class="form-horizontal" method="post" action=".">{% csrf_token %}
                    <!-- Email -->
                          <div style="text-align:left">{{ form.as_p }}</div>

                    <!--<div class="form-group">-->
                      <!--<label class="control-label col-lg-3" for="inputEmail">Email</label>-->
                      <!--<div class="col-lg-9">-->
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Password &ndash;&gt;-->
                    <!--<div class="form-group">-->
                      <!--<label class="control-label col-lg-3" for="inputPassword">Password</label>-->
                      <!--<div class="col-lg-9">-->
                        <!--<input type="password" class="form-control" id="inputPassword" placeholder="Password">-->
                      <!--</div>-->
                    <!--</div>-->
                    <!-- Remember me checkbox and sign in button -->
                    <div class="form-group">
					<div class="col-lg-9 col-lg-offset-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
						</div>
					</div>
					</div>
                        <div class="col-lg-9 col-lg-offset-3">
							<input type="hidden" name="next" value="/" />
                            <button type="submit" class="btn btn-danger">{% trans 'Log in' %}</button>
							<button type="reset" class="btn btn-default">{% trans 'Empty form' %}</button>
						</div>
                    <br />
                  </form>

				</div>
                </div>

                <div class="widget-foot">
                  <a href="{% url 'chinesetool:register' %}">Register</a>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>



<!-- JS -->
<script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.js"></script>
</body>
</html>