{% block content %}
<center>
<h2>Rejestracja w ChineseTool</h2>
Rejetracja jest wymagana, jeżeli chcesz się uczyć
<p>
<div style="margin-left:35%;margin-right:35%;">
<fieldset>
  <legend> Wszystkie pola oprócz numeru telefonu należy wypełnić </legend>
    <form method="post" action=".">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Rejestracja">    <input type="reset" value="Wartości początkowe">
  </form>
</fieldset>
</div>
</center>
{% endblock %}
{% block footer %}
<p>
<div style="text-align:center;"><a href="/">Strona główna</a></div>
</p>
{% endblock %}