<h2 class="text-center" id="choice_text_to_translate">{{ text }}</h2>
<div class="rows">
    <div class="col-md-6">
        <input type="button" class="choice btn btn-default btn-block" id="choice1" value="{{ choices.0 }}"/>
    </div>
    <div class="col-md-6">
        <input type="button" class="choice btn btn-default btn-block" id="choice2" value="{{ choices.1 }}"/>
    </div>
</div>
<div class="rows">
    <div class="col-md-6">
        <input type="button" class="choice btn btn-default btn-block" id="choice3" value="{{ choices.2 }}"/>
    </div>
    <div class="col-md-6">
        <input type="button" class="choice btn btn-default btn-block" id="choice4" value="{{ choices.3 }}"/>
    </div>
</div>