{% extends "base.html"%}
{% block content %}
{% load staticfiles %}
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{% static "js/chinese-ime/caret.js" %}"></script>
<script type="text/javascript" src="{% static "js/chinese-ime/jQuery.chineseIME.js" %}"></script>
<script type="text/javascript" src="{% static "learn/js/typing.js" %}"></script>
<script type="text/javascript" src="{% static "learn/js/choice.js" %}"></script>
<script type="text/javascript" src="{% static "learn/js/explanation.js" %}"></script>
<script type="text/javascript" src="{% static "learn/js/learn.js" %}"></script>

{% if error_message %}
    <p><strong>
        {{ error_message }}
    </strong></p>
{% endif %}

{% csrf_token %}

<form class="container-fluid" action="#">
    <div id="lesson-container" style="height: 100px">
        <input type="hidden" id="lesson_action_id" value="{{ lesson_action.id }}">
        <input type="hidden" id="total_exercises_number" value="{{ lesson_action.total_exercises_number }}">
        <div>
            <div id="topic" style="display: inline-block; font-size: 18px">
                {{ lesson_action.lesson.topic }}
            </div>
        </div>
        <div class="progress progress-striped active">
            <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
        </div>
        <div>
            <h2 class="text-center" id="status-icons-container"></h2>
        </div>
    </div>

    <div id="status-container" style="height: 80px">
        <div id="status">
            <h2 id="positive_status" class="text-center text-success" style="display: none;">Poprawna odpowiedź!</h2>
            <h2 id="negative_status" class="text-center text-danger" style="display: none;">Zła odpowiedź!</h2>
        </div>
    </div>

    <div id="exercise-container" style="height: 200px">
        <div id="typing_exercise" class="exercise-type-container" style="display: none;">
            <h2 class="text-center text-primary" id="typing_text"></h2>
            <input id="proposition" class="form-control input-lg" type="text" name="proposition" hidden/>
            <div id="chinese-ime" style="display: none;">
                <div class="typing"></div>
                <ul class="options" style="display: inline; list-style-type: none;">
                </ul>
            </div>
            <h4 id="correct" class="text-success text-center" style="display: none;"></h4>
            <h4 id="bad-proposition" class="text-danger text-center" style="display: none;"></h4>
        </div>
        <div id="explanation_exercise" class="exercise-type-container" style="display: none;">
            <pre><div class="text-primary" id="explanation_text"></div></pre>
        </div>
        <div id="choice_exercise" class="exercise-type-container" style="display: none;">
            <h2 class="text-center text-primary" id="choice_text_to_translate"></h2>
            <div class="rows">
                <div class="col-md-6">
                    <input type="button" class="choice btn btn-default btn-block" id="choice1"/>
                </div>
                <div class="col-md-6">
                    <input type="button" class="choice btn btn-default btn-block" id="choice2"/>
                </div>
            </div>
            <div class="rows">
                <div class="col-md-6">
                    <input type="button" class="choice btn btn-default btn-block" id="choice3"/>
                </div>
                <div class="col-md-6">
                    <input type="button" class="choice btn btn-default btn-block" id="choice4"/>
                </div>
            </div>
        </div>
        <div id="final" hidden>
            <h2 class="text-primary text-center">Ukończyłeś lekcję!</h2>
            <a class="btn btn-default btn-block" id="to-lesson-map" href="{% url 'learn:lessons_map' %}" id="to-lesson-map">Do mapy lekcji</a>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-default" id="check" style="display: none">Sprawdź</button>
        <button type="button" class="btn btn-default" id="next">Start</button>
    </div>

</form>

{% endblock %}
