{% extends "base.html"%}
{% load i18n %}
{% block content %}

{% trans "Available lessons" %}
{% if lessons %}
    <table>
        <tr>
            <th>
                {% trans "Topic" %}
            </th>
            <th>
                {% trans "Requirement" %}
            </th>
            <th>
            </th>
        </tr>
        {% for lesson in lessons %}
            <tr>
                <td>
                    {{ lesson.topic }}
                </td>
                <td>
                    {% if lesson.requirement %}
                        <div>
                            {{ lesson.requirement.topic }}
                        </div>
                    {% else %}
                        <div>
                            None
                        </div>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'learn:learn' lesson_id=lesson.id %}">{% trans "Go" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    No lessons available
{% endif %}
{% endblock %}