{% extends "base.html"%}
{% block content %}
{%  load staticfiles %}
<script type="text/javascript" src="{% static "js/d3/d3.js" %}"></script>
<script type="text/javascript" src="{% static "learn/js/lessons_map.js" %}"></script>
<script type="text/javascript">

function generateLearnURL(lesson_id){
    return "{% url 'learn:learn' lesson_id=112233 %}".replace("112233", lesson_id);
}

$(document).ready(function(){
    var lessons_levels = {{ lessons_levels|safe }};
    drawMap(lessons_levels, '#map');
});
</script>


<svg id="map" width="1000" height="1000"></svg>
{% endblock %}