<h2 class="text-center text-primary" id="typing_text">{{ text|safe }}</h2>
<input id="proposition" class="form-control input-lg" type="text" name="proposition" hidden/>
<div id="chinese-ime" style="display: none;">
    <div class="typing"></div>
    <ul class="options" style="display: inline; list-style-type: none;">
    </ul>
</div>
<h4 id="correct" class="text-success text-center" style="display: none;"></h4>
<h4 id="bad-proposition" class="text-danger text-center" style="display: none;"></h4>