{% block content %}
{% load i18n %}
<center>
<h2>{% trans "Register in ChineseTool" %}</h2>
{% trans "Registration is required if you want to learn!" %}
<p>
<div style="margin-left:35%;margin-right:35%;">
<fieldset>
  <legend> {% trans "All fields except for cell phone have to be filled " %} </legend>
    <form method="post" action=".">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Register' %}">    <input type="reset" value="{% trans 'Empty form' %}">
  </form>
</fieldset>
</div>
</center>
{% endblock %}
{% block footer %}
<p>
<div style="text-align:center;"><a href="{% url 'menu:index' %}">{% trans "Main page" %}</a></div>

{% url 'users:login' as login_url %}
</p>

{% endblock %}