{% extends "chinesetool/base.html"%}
{% load i18n %}
{% block content %}


<div>Lesson: {{ lesson.topic }}</div>
Add exercise - Polish sentence:
<form action="{% url 'chinesetool:add_exercise_sentence_pl' lesson.id %}" method="post">
    {% csrf_token %}
    <div>New sentence:</div>
    <input type="text" id="sentence_pl" name="sentence_pl"/>
    <div>Translations:</div>
    <input type="text" id="translations_zh" name="translations_zh"/>
    <div>Number:</div>
    <input type="number" id="number" name="number"/>
    <input type="submit" value="Add">
</form>

{% endblock %}