{% load staticfiles %}

<div id="{{ unique_id }}" class="cp-container" audio-src="{{ audio_src }}">
    <link rel="stylesheet" href="{% static "circle/circle.skin/circle.player.css" %}">
    <script type="text/javascript" src="{% static "circle/js/jquery.transform2d.js" %}"></script>
    <script type="text/javascript" src="{% static "circle/js/jquery.grab.js" %}"></script>
    <script type="text/javascript" src="{% static "circle/js/jquery.jplayer.js" %}"></script>
    <script type="text/javascript" src="{% static "circle/js/mod.csstransforms.min.js" %}"></script>
    <script type="text/javascript" src="{% static "circle/js/circle.player.js" %}"></script>

    <script>
        $(document).ready(function(){
            new CirclePlayer("#{{ unique_id }}");
        });

    </script>
    <div class="cp-jplayer"></div>
    <div class="cp-buffer-holder cp-gt50" style="display: block;">
        <div class="cp-buffer-1" style="transform: rotate(180deg);"></div>
        <div class="cp-buffer-2" style="display: block; transform: rotate(271.362deg);"></div>
    </div>
    <div class="cp-progress-holder" style="display: block;">
        <div class="cp-progress-1" style="transform: rotate(94.2428deg);"></div>
        <div class="cp-progress-2" style="transform: rotate(0deg); display: none;"></div>
    </div>
    <div class="cp-circle-control"></div>
    <ul class="cp-controls">
        <li><a class="cp-play" tabindex="1" style="display: block;">play</a></li>
        <li><a class="cp-pause" style="display: none;" tabindex="1">pause</a></li>
    </ul>
</div>