<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
{% load i18n %}
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <title>ChineseTool {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/style.css" type="text/css" />
    <script type="text/javascript" src="/media/jquery.js"></script>
    {% block external %}{% endblock %}
  </head>
  <body>
{% block header %}
  <div id="nav">
    {% if user.is_authenticated %}
      {% trans "Logged user" %}:<b>{{user.username}}</b>    <a href="{% url 'chinesetool:logout' %}">{% trans "Log out" %}</a>
    {% else %}
      <a href="{% url 'chinesetool:login' %}">{% trans "Log in" %}</a>    <a href="{% url 'chinesetool:register' %}">{% trans "Register" %}</a>
    {% endif %}
  </div>
{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>