{% extends "chinesetool/base.html"%}
{% load i18n %}
{% block content %}
{% if latest_words_list %}
    <ul>
    {% for wordzh in latest_words_list %}
        <li><a href="/{{ wordzh.id }}/translate_word">{{ wordzh.word }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No words are available.</p>
{% endif %}
<a href="/translate_word">{% trans "Translate a word" %}</a>
<a href="/translate_sentence">{% trans "Translate a sentence" %}</a>


{% endblock %}
{% block footer %}
<div style="text-align:center;">
Element Company
</div>
{% endblock %}



