{% extends "chinesetool/base.html"%}
{% load i18n %}
{% block content %}
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/chinese-ime/caret.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/chinese-ime/jQuery.chineseIME.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/learn.js"></script>

{% if error_message %}
    <p><strong>
        {{ error_message }}
    </strong></p>
{% endif %}

{% csrf_token %}

<div id="word_or_sentence_exercise">
    <div id="word_or_sentence"></div>
    <input type="text" name="proposition" id="proposition" hidden/>
    <div id="correct" hidden></div>
    <div id="comment" hidden></div>
</div>

<div id="explanation_exercise">
    <div id="explanation_text"></div>
</div>

<div id="result">
    <div id="positive_result" hidden>
        Correct answer!
    </div>
    <div id="negative_result" hidden>
        Wrong answer!
    </div>
</div>

<div id="final" hidden>
    <h1>
        That's it!
    </h1>
</div>

<button type="button" id="check" hidden>Check</button>
<button type="button" id="next">Start</button>

<div id="lesson_data">
    <input type="hidden" name="lesson_id" id="lesson_id" value="{{ lesson_action.lesson.id }}">
    <div>
        Total exercises count:
        <div id="total_exercises_number" style="display: inline-block;">
            {{ lesson_action.total_exercises_number }}
        </div>
    </div>
    <div>
        Current exercise number:
        <div id="current_exercise_number" style="display: inline-block;">
            {{ lesson_action.current_exercise_number }}
        </div>
    </div>
    <div>
        Failed exercises:
        <div id="fails" style="display: inline-block;">
            {{ lesson_action.fails }}
        </div>
    </div>
    <div>
        Lesson topic:
        <div id="topic" style="display: inline-block;">
            {{ lesson_action.lesson.topic }}
        </div>
    </div>
</div>


<a href="{% url 'chinesetool:index' %}" id="return_link" hidden>{% trans "Return" %}</a>
{% endblock %}
