{% extends "chinesetool/base.html"%}
{% load i18n %}
{% block content %}


<div>
Lesson topic:
<form action="{% url 'chinesetool:modify_lesson' lesson.id %}" method="post">
    {% csrf_token %}
    <input type="text" id="topic" name="topic" value="{{ lesson.topic }}"/>
    <button>Update</button>
</form>
</div>
<div>
Exercises number:
</div>
<div>
<form action="{% url 'chinesetool:modify_lesson' lesson.id %}" method="post">
    {% csrf_token %}
    <input type="number" id="exercises_number" name="exercises_number" value="{{ lesson.exercises_number }}"/>
    <button>Update</button>
</form>
</div>
    <div>Required topics:</div>
    <div class="requirements">
        <table>
            {% for requirement in requirements %}
                <tr>
                    <td>{{ requirement.topic }}</td>
                    <td>
                        <form action="{% url 'chinesetool:modify_lesson' lesson.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="requirement_to_remove" value="{{ requirement.id }}"/>
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'chinesetool:add_requirement' lesson.id %}">Add requirement</a>
    </div>Exercises:<div>
    <table>
        {% for exercise_details in exercise_details_list %}
            <tr>
                <td>{{ exercise_details.exercise.number }}:&nbsp;</td>
                <td>{{ exercise_details }}</td>
                <td>{{ exercise_details.exercise.type }}</td>
                <td>
                    <form action="{% url 'chinesetool:modify_lesson' lesson.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="exercise_to_remove" value="{{ exercise_details.exercise.id }}"/>
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div>Add exercise: </div>
    <ul>
        <li><a href="{% url 'chinesetool:add_exercise_word_zh' lesson.id %}">Chinese word</a></li>
        <li><a href="{% url 'chinesetool:add_exercise_word_pl' lesson.id %}">Polish word</a></li>
        <li><a href="{% url 'chinesetool:add_exercise_sentence_zh' lesson.id %}">Chinese sentence</a></li>
        <li><a href="{% url 'chinesetool:add_exercise_sentence_pl' lesson.id %}">Polish sentence</a></li>
        <li><a href="{% url 'chinesetool:add_exercise_explanation' lesson.id %}">Explanation</a></li>
        <li><a href="{% url 'chinesetool:add_exercise_explanation_image' lesson.id %}">Explanation with image</a></li>
    </ul>

    </div>

{% endblock %}
{% block
footer %}++
