{% extends "chinesetool/base.html"%}
{% load i18n %}
{% block content %}
<h1></h1>

<script type="text/javascript" src="{{ STATIC_URL }}js/translate_word.js"></script>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% csrf_token %}
<input type="hidden" id="csrf_token" value="{{ csrf_token }}"/>
<input type="text" name="proposition" id="proposition" hidden/>
<button type="button" id="check" hidden>Check</button>
<button type="button" id="next">Start</button>
<input type="hidden" name="lesson_id" id="lesson_id" value="{{ lesson_action.pk }}">
<p id = "correct" hidden></p>
<p id = "total_exercises_number" hidden></p>
<p id = "current_exercise_number" hidden></p>
<p id = "fails" hidden></p>
<p id = "lesson" hidden>Lekcja: </p>
<p id = "comment" hidden></p>

<form action="{% url 'chinesetool:index' %}">
    <input type="submit" id = "menu" value="Menu" hidden>
</form>

<p id = "result"></p>
<a href="{% url 'chinesetool:index' %}" id="return_link" hidden>{% trans "Return" %}</a>
{% endblock %}
