{% extends "base.html"%}
{% block content %}
{% load staticfiles %}

<div class="col-md-12">
    <div class="widget wblue">
        <div class="widget-head">
        <div class="pull-left">Lekcja: {{ lesson.topic }}</div>
        <div class="clearfix"></div>
        </div>
    </div>
    <div class="widget-content">
        <div class="padd">
            <h6>Ćwiczenie - wyjaśnienie</h6>
            <hr>
        {% if exercise %}
            <form class="form-horizontal" role="form" enctype="multipart/form-data" action="{% url 'lessons:exercises:modify_explanation' lesson_id=lesson.id exercise_id=exercise.id %}" method="post">
        {% else %}
            <form class="form-horizontal" role="form" enctype="multipart/form-data" action="{% url 'lessons:exercises:add_explanation' lesson_id=lesson.id %}" method="post">
        {% endif %}
            {% csrf_token %}
                <div class="form-group">
                    <label class="col-lg-4 control-label">Objaśnienie:</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="3" placeholder="Objaśnienie" id="explanation_text" name="explanation_text">{{ exercise.spec.text }}</textarea>
                    </div>
                </div>
                <button type="submit" id="save" class="btn btn-default">Zapisz</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}
