{% extends "base.html"%}
{% block content %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/recorder/recorder.js" %}"></script>


<link rel="stylesheet" href="{% static "circle/circle.skin/circle.player.css" %}">

<script type="text/javascript" src="{% static "circle/js/jquery.transform2d.js" %}"></script>
<script type="text/javascript" src="{% static "circle/js/jquery.grab.js" %}"></script>
<script type="text/javascript" src="{% static "circle/js/jquery.jplayer.js" %}"></script>
<script type="text/javascript" src="{% static "circle/js/mod.csstransforms.min.js" %}"></script>
<script type="text/javascript" src="{% static "circle/js/circle.player.js" %}"></script>

    {% crispy form %}

{% endblock %}