{% extends "base.html"%}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<div>Lekcja: {{ lesson.topic }}</div>
Add exercise - explanation with image:
<form enctype="multipart/form-data"action="{% url 'exercises:modify_exercise_explanation_image' lesson_id=lesson.id %}" method="post">
    {% csrf_token %}
    <label for="text">Treść wyjaśnienia:</label>
    <textarea id="text">{{ exercise.text }}</textarea>
    <input type="submit" id="save" class="btn btn-default" value="Zapisz"></button>
</form>

{% endblock %}
{% block footer %}
{% endblock %}
