{% extends "base.html"%}
{% block content %}
{% load staticfiles %}

<script type="text/javascript" src="{% static "exercises/js/typing.js" %}"></script>
<div id="translate_text_url" style="visibility: hidden">{% url 'translations:texts_translations' source_language='chinese' %}</div>

<div>Lekcja: {{ lesson.topic }}</div>
<div>Ćwiczenie - pisanie:</div>
<div>Język źródłowy: chiński</div>
{% if exercise %}
    <form action="{% url 'exercises:modify_typing_zh' lesson_id=lesson.id exercise_id=exercise.id %}" method="post">
{% else %}
    <form action="{% url 'exercises:add_typing_zh' lesson_id=lesson.id %}" method="post">
{% endif %}
    {% csrf_token %}
    <label for="text_zh">Tekst chiński</label>
    <input class="text_to_search" id="text_zh" name="text_zh" value="{{ exercise.spec.text }}">
    <div>Tłumaczenia:</div>
    <div id="translations-container">
        <table id="translations_table">
            <tbody>
            {% for translation in exercise.spec.text.textpl_set.all %}
                <tr>
                    <td>
                        <label>Tłumaczenie: </label>
                        <input name="translations" value="{{ translation.text }}">
                        <button id="remove" class="btn btn-default">Remove</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <button type="button" id="add_translation_button" class="btn btn-default">Dodaj</button>
    </div>
    <input type="submit" id="save" class="btn btn-default" value="Zapisz"></button>
</form>

{% endblock %}
{% block footer %}
{% endblock %}
