{% extends "base.html"%}
{% load i18n %}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "exercises/js/modify_word.js" %}"></script>
<div id="source_language" style="visibility: hidden">polish</div>

<div>Lekcja: {{ lesson.topic }}</div>
Ćwiczenie - słowo polskie:
{% if exercise %}
    <form action="{% url 'exercises:modify_word-pl' lesson_id=lesson.id exercise_id=exercise.id %}" method="post">
{% else %}
    <form action="{% url 'exercises:add_word-pl' lesson_id=lesson.id %}" method="post">
{% endif %}
    {% csrf_token %}
    <label>Słowo polskie</label>
    <input name="word_pl" value="{{ exercise.spec.word }}">
    <div>Tłumaczenia:</div>
    <div id="translations-container">
        <table id="translations_table">
            <tbody>
            {% for translation in exercise.spec.word.wordzh_set.all %}
                <tr>
                    <td>
                        <label>Tłumaczenie: </label>
                        <input name="translations" value="{{ translation.word }}">
                        <label>Pinyin: </label>
                        <input name="pinyins" value="{{ translation.pinyin }}">
                    </td>
                    <td>
                        <button id="remove" class="btn btn-default">Remove</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <button type="button" id="add_translation_button" class="btn btn-default">Dodaj</button>
    </div>
    <input type="submit" id="save" class="btn btn-default" value="Zapisz"></button>
</form>

{% endblock %}
{% block footer %}
{% endblock %}
