{% extends "base.html"%}
{% load i18n %}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "exercises/js/modify_word.js" %}"></script>
<div id="source_language" style="visibility: hidden">polish</div>

<div>Lekcja: {{ lesson.topic }}</div>
Exercise - Polish word:
{% if exercise_details %}
    <form action="{% url 'exercises:modify_exercise_word_pl' exercise_id=exercise.id %}" method="post">
{% else %}
    <form action="{% url 'exercises:add_exercise_word_pl' lesson_id=lesson.id %}" method="post">
{% endif %}
    {% csrf_token %}
    <label>Słowo polskie</label>
    <input name="word_pl" value="{{ exercise_details.word }}">
    <div>Tłumaczenia:</div>
    {% for translation in exercise_details.word.wordzh_set.all %}
        <div>
            <label>Słowo chińskie</label>
            <input name="translations_zh_word" value="{{ translation.word }}">
            <label>Pinyin</label>
            <input name="translations_zh_pinyin" value="{{ translation.pinyin }}">
        </div>
    {% endfor %}
</form>
<button id="save">Save</button>

{% endblock %}
{% block footer %}
{% endblock %}
