{% extends "base.html"%}
{% load i18n %}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "exercises/js/modify_word.js" %}"></script>
<div id="source_language" style="visibility: hidden">chinese</div>

<div>Lekcja: {{ lesson.topic }}</div>
Exercise - Chinese word:
{% if exercise %}
    <form action="{% url 'exercises:modify_word-zh' lesson_id=lesson.id exercise_id=exercise.id %}" method="post">
{% else %}
    <form action="{% url 'exercises:add_word-zh' lesson_id=lesson.id %}" method="post">
{% endif %}
    {% csrf_token %}
    <label>Słowo chińskie</label>
    <input class="word_to_search" id="word_zh" name="word_zh" value="{{ exercise.spec.word.word }}">
    <label>Pinyin</label>
    <input name="pinyin" name="pinyin" value="{{ exercise.spec.word.pinyin }}">
    <div>Tłumaczenia:</div>
    <div id="translations-container">
        <table id="translations_table">
            <tbody>
            {% for translation in exercise.spec.word.wordpl_set.all %}
                <tr>
                    <td>
                        <label>Słowo polskie</label>
                        <input name="translations" value="{{ translation.word }}">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <button type="button" id="add_translation_button" class="btn btn-default">Dodaj</button>
    </div>
    <input type="submit" id="save" class="btn btn-default" value="Zapisz"></button>
</form>


{% endblock %}
{% block footer %}
{% endblock %}

