{% load staticfiles %}

{% csrf_token %}
<table>
    {% for exercise in exercises %}
        <tr>
            <td>
                <input name="exercise{{exercise.id }}" value="{{ exercise.number|default:"" }}" size="1">

            </td>
            <td>{{ exercise.content_type | capfirst }}</td>
            <td>
                {% if exercise.content_type.name == "typing" %}
                    {{ exercise.spec.text }} -
                    {{ exercise.spec.text.get_translations.all.all|join:", " }}
                {% else %}
                    {{ exercise | linebreaks }}</td>
                {% endif %}
            <td>
                <a class="modify btn btn-default" href="{% url 'lessons:exercises:modify_exercise' lesson_id=lesson.id exercise_id=exercise.id %}">Edytuj</a>
            </td>
            <td>
                <a class="delete btn btn-default" href="{% url 'lessons:exercises:delete_exercise' lesson_id=lesson.id exercise_id=exercise.id %}">Usuń</a>
            </td>
        </tr>
    {% endfor %}
</table>
<input type="submit" id="save" class="btn btn-default" value="Zapisz"></button>