{% load staticfiles %}

<table>
        {% for exercise_details in exercise_details_list %}
            <tr>
                <td>{{ exercise_details.exercise.number }}:&nbsp;</td>
                <td>{{ exercise_details }}</td>
                <td>{{ exercise_details.exercise.type }}</td>
                <td>
                    <button class="delete" action="{% url 'lessons:modify_lesson' lesson.id %}" value="{{ exercise_details.exercise.id }}">Delete</button>

                </td>
            </tr>
        {% endfor %}
</table>