{% load staticfiles %}

<table>
    {% for exercise in exercises %}
        <tr>
            <td>
                <input type="hidden" name="exercises_ids" value="{{ exercise.id }}"/>
                <input type="input" name="exercise_{{ exercise.id }}" value="{{ exercise.number|default:"" }}" size="1">
            </td>
            <td>{{ exercise.content_type | capfirst }}</td>
            <td>
                {{ exercise | linebreaks }}</td>
            <td>
                <a class="modify btn btn-default" href="{% url 'lessons:exercises:modify_exercise' lesson_id=lesson.id exercise_id=exercise.id %}">Edytuj</a>
            </td>
            <td>
                <a class="delete btn btn-default" href="{% url 'lessons:exercises:delete_exercise' lesson_id=lesson.id exercise_id=exercise.id %}">Usuń</a>
            </td>
        </tr>
    {% endfor %}
</table>