{% extends "base.html"%}
{% block content %}
{% with lessons=object_list %}
<div class="col-md-12">
    {% if lessons %}
    <div class="widget wred">
        <div class="widget-head">
            <div class="pull-left">Avaliable lessons</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="widget-content medias">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-3">Topic</th>
                        <th class="col-md-3">Requirement</th>
                        <th class="col-md-2">Exercises: To do/All</th>
                        <th class="col-md-2">Publish</th>
                        <th class="col-md-2">Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>
                            {{ lesson.topic }}
                        </td>
                        <td>
                            {% if lesson.requirement %}
                                <div>
                                    {{ lesson.requirement.topic }}
                                </div>
                            {% else %}
                                <div>
                                    -
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {{  lesson.exercises_number }}/{{  lesson.exercise_set.count }}
                        </td>
                        <td>
                            {{  lesson.publish }}
                        </td>
                        <td>
                            <a class="btn btn-sm btn-info" href="{% url 'lessons:modify_lesson' lesson_id=lesson.id %}"><i class="icon-pencil"></i></a>
                            <a class="btn btn-sm btn-danger" href="{% url 'lessons:delete_lesson' lesson_id=lesson.id %}"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        No lessons available
    {% endif %}

    <a id="new_lesson" class="btn btn-default" href="{% url 'lessons:add_lesson' %}">Add lesson</a>

</div>

{% endwith %}
{% endblock %}