{% extends "base.html"%}
{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<form class="form-horizontal" role="form" action="{{ form_action }}" method="post">
    {% crispy form %}
    <div class="col-md-12">
    {% if lesson %}
        <div>
            Exercises:
            <div id="exercises">
            {% include "lessons/exercises.html" %}
            </div>
        </div>
     {% else %}
        Save the lesson to add exercises
    {% endif %}
    </div>
    <button type="submit" id="save" class="btn btn-default btn-primary">Save</button>
    <a href="{% url 'lessons:lessons' %}" class="btn btn-default">Return</a>
</form>

<div>
{% if lesson %}
    Add exercise:
    <div>
        <a href="{% url 'lessons:exercises:add_exercise' lesson_id=lesson.id exercise_type='typing' %}" class="btn btn-default">Typing</a>
        <a href="{% url 'lessons:exercises:add_exercise' lesson_id=lesson.id exercise_type='explanation' %}" class="btn btn-default">Explanation</a>
        <a href="{% url 'lessons:exercises:add_exercise' lesson_id=lesson.id exercise_type='choice' %}" class="btn btn-default">Choice</a>
        <a href="{% url 'lessons:exercises:add_exercise' lesson_id=lesson.id exercise_type='listening' %}" class="btn btn-default">Listening</a>
    </div>
{% endif %}
</div>


{% endblock %}
{% block footer %}
{% endblock %}