{% extends "base.html"%}
{% block content %}
{% load staticfiles %}


{% if lesson %}
    {% include "form_start.html" with header="Lekcja: "|add:lesson.topic %}
    <form class="form-horizontal" role="form" action="{% url 'lessons:modify_lesson' lesson_id=lesson.id %}" method="post">
{% else %}
    {% include "form_start.html" with header="Nowa lekcja" %}
    <form class="form-horizontal" role="form" action="{% url 'lessons:add_lesson' %}" method="post">
{% endif %}
        {% csrf_token %}
        {% include "form_snippet.html" %}
            <div class="form-group">
            {% if lesson %}
                <div>
                    Ćwiczenia:
                    <div id="exercises">
                    {% include "lessons/exercises.html" %}
                    </div>
                </div>
             {% else %}
                Zapisz lekcję, aby dodać ćwiczenia.
            {% endif %}
            </div>
            <button type="submit" id="save" class="btn btn-default">Zapisz</button>
            <a href="{% url 'lessons:lessons' %}" class="btn btn-default">Powrót</a>
        </form>
{% include "form_end.html" %}


<div>
{% if lesson %}
    Dodaj ćwiczenie:
    <div>
        <a href="{% url 'lessons:exercises:add_typing' lesson_id=lesson.id %}" class="btn btn-default">Pisanie</a>
        <a href="{% url 'lessons:exercises:add_explanation' lesson_id=lesson.id %}" class="btn btn-default">Objaśnienie</a>
        <a href="{% url 'lessons:exercises:add_choice' lesson_id=lesson.id %}" class="btn btn-default">Wybór</a>
    </div>
{% endif %}
</div>


{% endblock %}
{% block footer %}
{% endblock %}