{% extends "base.html"%}
{% block content %}
{% load staticfiles %}


{% if lesson %}
    {% include "form_start.html" with header="Lesson: "|add:lesson.topic %}
    <form class="form-horizontal" role="form" action="{% url 'lessons:modify_lesson' lesson_id=lesson.id %}" method="post">
{% else %}
    {% include "form_start.html" with header="New lesson" %}
    <form class="form-horizontal" role="form" action="{% url 'lessons:add_lesson' %}" method="post">
{% endif %}
        {% csrf_token %}
        {% include "form_snippet.html" %}
            <div class="form-group">
            {% if lesson %}
                <div>
                    Exercises:
                    <div id="exercises">
                    {% include "lessons/exercises.html" %}
                    </div>
                </div>
             {% else %}
                Save the lesson to add exercises
            {% endif %}
            </div>
            <button type="submit" id="save" class="btn btn-default">Save</button>
            <a href="{% url 'lessons:lessons' %}" class="btn btn-default">Return</a>
        </form>
{% include "form_end.html" %}


<div>
{% if lesson %}
    Add exercise:
    <div>
        <a href="{% url 'lessons:exercises:add_exercise' lesson_id=lesson.id exercise_type='typing' %}" class="btn btn-default">Typing</a>
        <a href="{% url 'lessons:exercises:add_exercise' lesson_id=lesson.id exercise_type='explanation' %}" class="btn btn-default">Explanation</a>
        <a href="{% url 'lessons:exercises:add_exercise' lesson_id=lesson.id exercise_type='choice' %}" class="btn btn-default">Choice</a>
        <a href="{% url 'lessons:exercises:add_exercise' lesson_id=lesson.id exercise_type='listening' %}" class="btn btn-default">Listening</a>
    </div>
{% endif %}
</div>


{% endblock %}
{% block footer %}
{% endblock %}