{% extends "base.html"%}
{% load i18n %}
{% block content %}

<div id="new_lesson">
    {% trans "Add new lesson" %}
    <form action="{% url 'lessons:lessons_management'  %}" method="post">
    Lesson topic:
        {% csrf_token %}
        <input type="hidden" name="create" id="create" value="true"/>
        <input type="text" class="form-control" name="topic" id="topic"/>
        <input type="submit" value="Add">
    </form>
</div>


{% trans "Available lessons" %}
{% if lessons %}
    <table>
        <tr>
            <th>
                {% trans "Topic" %}
            </th>
            <th>
                {% trans "Requirement" %}
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        {% for lesson in lessons %}
            <tr>
                <td>
                    {{ lesson.topic }}
                </td>
                <td>
                    {% if lesson.requirement %}
                        <div>
                            {{ lesson.requirement.topic }}
                        </div>
                    {% else %}
                        <div>
                            None
                        </div>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-default" href="{% url 'lessons:modify_lesson' lesson_id=lesson.id %}">{% trans "Modify" %}</a>
                </td>
                <td>
                    <a class="btn btn-default" href="{% url 'lessons:delete_lesson' lesson_id=lesson.id %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    No lessons available
{% endif %}
{% endblock %}