{% extends "base.html"%}
{% block content %}

<div id="new_lesson">
    <div>Dodaj nową lekcję:</div>
    <form action="{% url 'lessons:lessons'  %}" method="post">
    <label for="text_pl">Temat lekcji:</label>
        {% csrf_token %}
        <input type="hidden" name="create" id="create" value="true"/>
        <input type="text" class="form-control" name="topic" id="topic"/>
        <input class="btn btn-default" type="submit" value="Dodaj">
    </form>
</div>


<div>Dostępne lekcje:</div>
{% if lessons %}
    <table>
        <tr>
            <th>
                Temat
            </th>
            <th>
                Wymaganie
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        {% for lesson in lessons %}
            <tr>
                <td>
                    {{ lesson.topic }}
                </td>
                <td>
                    {% if lesson.requirement %}
                        <div>
                            {{ lesson.requirement.topic }}
                        </div>
                    {% else %}
                        <div>
                            -
                        </div>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-default" href="{% url 'lessons:modify_lesson' lesson_id=lesson.id %}">Edytuj</a>
                </td>
                <td>
                    <a class="btn btn-default" href="{% url 'lessons:delete_lesson' lesson_id=lesson.id %}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    No lessons available
{% endif %}
{% endblock %}