{% extends "base.html"%}
{% load i18n %}
{% block content %}
{% load staticfiles %}



<div>
Lesson topic:
    <input type="text" id="topic" name="topic" value="{{ lesson.topic }}"/>
</div>
<div>
Exercises number:
    <input type="number" id="exercises_number" name="exercises_number" value="{{ lesson.exercises_number }}"/>
</div>

Wymaganie:
    <select id="new_requirement">
        <option value="None">Brak</option>

    {% for other_lesson in other_lessons %}

        {% if requirements.topic == other_lesson.topic %}
            <option value="{{ other_lesson.id }}" selected>{{ other_lesson.topic }}</option>
        {% endif %}
        {% if requirements.topic != other_lesson.topic %}
            <option value="{{ other_lesson.id }}">{{ other_lesson.topic }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <br/>
<button id="update" action="{% url 'lessons:modify_lesson' lesson.id %}">Update</button>
<div id="updated" hidden>Updated</div>

    </div>Exercises:
    <div id="exercises" link="{% url 'lessons:display_exercises' lesson.id %}">
    {% include "lessons/exercises.html" %}
    </div>
    <button id="add">Add</button>

    <div id="add_exercise" hidden>
    <select id="menu">
        <option addr="{% url 'lessons:add_exercise_word_zh' lesson.id %}">Chinese word</option>
        <option addr="{% url 'lessons:add_exercise_word_pl' lesson.id %}">Polish word</option>
        <option addr="{% url 'lessons:add_exercise_sentence_zh' lesson.id %}">Chinese sentence</option>
        <option addr="{% url 'lessons:add_exercise_sentence_pl' lesson.id %}">Polish sentence</option>
        <option addr="{% url 'lessons:add_exercise_explanation' lesson.id %}">Explanation</option>
        <option addr="{% url 'lessons:add_exercise_explanation_image' lesson.id %}">Explanation with image</option>
    </select>
        <div id="content"></div>

    </div>
<script type="text/javascript" src='{% static "lessons/js/modify_lesson.js" %}'></script>

{% endblock %}
{% block footer %}
{% endblock %}

